.main-header{
  height: 100vh;
  background-image: url('../../../public/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1{
  color: #fff;
  font-size:3rem;
  width: 22rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding:1.8rem;
  margin:0 0 5rem 8rem
}
@media (max-width:376px){
  .main-header{
    height: 100vh;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('../../../public/images/mobile/image-hero.jpg');
  }
  h1{
    font-weight: 300;
    font-size:2.6rem;
    width: calc(100% - 5.6rem);
    margin:1rem
  }
}