.attribution {
  text-align: center;
  padding:1rem 8rem;
  background-color: black;
  margin-top:8rem;
  color:aliceblue;
}
.content-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin:1rem 0;
}
.social-media-icons img:hover{
  border-bottom: solid 2px white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
footer img{
  margin-bottom:1rem;
}
.links-footer p{
  display: inline-block;
  margin-right: 2rem;
  color: hsl(0, 0%, 55%);
  cursor: pointer;
}

.info-footer, .social-brand{
  display:flex;
  justify-content:space-between;
  flex-direction: column;
  min-height: 5rem;
}
.social-brand{
  align-items: flex-start;
}
.info-footer{
  align-items: flex-end;
}
.info-footer div img{
  margin-left: 1rem;
  padding-bottom: .5rem;
}
@media (max-width:375px){
  .attribution{
    padding: 1rem; 
    margin-top: 2rem;
  }
  .content-footer{
    flex-direction: column;
  }
  .social-brand, .info-footer, .content-footer{
    align-items: center;
  }
  .links-footer{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .links-footer p{
    margin-right:0;
    margin-bottom: 1rem;
  }
}