button{
  cursor:pointer;
  height: 3rem;
  border:none;
  font-family: 'Space Mono', monospace;
}
.buttonTip5{
  grid-area: buttonTip5;
}
.buttonTip10{
  grid-area: buttonTip10;
}
.buttonTip15{
  grid-area: buttonTip15;
}
.buttonTip25{
  grid-area: buttonTip25;
}
.buttonTip50{
  grid-area: buttonTip50;
}