.info-card{
  height: calc(100vh - 16rem);
  margin: 8rem;
  width: -moz-fit-content;
  width: fit-content;
  display:flex;
  justify-content: right;
  align-items: flex-end;
  background-image: url('../../../public/images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
  background:cover;
}
.no-show{
  display: none;
}
section .info-vr{
  width: calc(50% - 4rem);
  padding:3rem 0 0 3rem;
  background-color: #fff;
}
.info-vr h2{
  text-transform: uppercase;
  font-size:2rem;
  padding-bottom: 1rem;
}
@media (max-width:376px){
  .no-show{
    display: block;
  }
  .no-show img{
    width: 100%;
  }
  .info-card{
    height: 100vh;
    background-image: none;
    flex-direction: column;
    margin:1rem;
    width: inherit;
    width: calc(100% - 2rem);
    align-items: center;
    justify-content: space-around;
  }
  section .info-vr{
    width:inherit;
    text-align: center;
    padding: 0;
  }

} 