.info-card{
  height: calc(100vh - 16rem);
  margin: 8rem;
  width: -moz-fit-content;
  width: fit-content;
  display:flex;
  justify-content: right;
  align-items: flex-end;
  background-image: url('../../../public/images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
}

.promo-vr img{
  width: 100%;
  height: auto;
}
section .info-vr{
  width: 50%;
  padding:2rem 0 0 2rem;
  height: fit-content;
  background-color: #fff;
}