.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
*{
    padding:0;
    margin:0;
}
body{
    width: 100%;
    font-family:'Red Hat Display';
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
main{
    width:30%;
    text-align: center;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
main #header-image {
    width: 100%;
    border-radius:1rem 1rem 0 0;
}
p{
    font-size:16px;
    line-height: 22px;
    color: grey;
}
h1{
    font-size: 22px;
    padding: 0.5em 0;
}
section h3, section p, section a{
    font-size: 14px;
}
section{
    margin:1em 2em;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);    
    text-align: left;
    padding: 1em 0.5em;
    border-radius: 5%;
}
section img{
    padding-right: 10px;
}
section div{
    display: flex;
    align-items: center;
}
#plan{
    display:block;
}
#texts{
    margin: 1em 2em;
}
button{
    width: 80%;
    height: 3em;
    margin-bottom:1.5em;
    border:none;
    background-color: #fff;
    border-radius: 1em;
    font-weight: 700;
    color:gray;
}
#button-principal{
    box-shadow: 0 1em 10px lightgray;
    background-color: hsl(245, 75%, 52%);
    color: white;
}
a, button{
    cursor: pointer;
}
#button-principal:hover{
    background-color:hsl(245, 50%, 60%);
}
@media (max-width: 375px) {
    main{
        width: 90%;
    }
}