* {
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(226, 43%, 10%);
  color:white;
  font-family: 'Rubik', sans-serif;
}