.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
}
/*header style*/
header{
  width: 90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  
}
a{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  color: hsl(0, 0%, 41%);
  display: inline-block;
  position: relative;
  padding: 0 1rem;
  cursor: pointer;
}
.subitem-menu{
  background-image: url('./images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right;
}
.subitem-menu:hover{
  background-image: url('./images/icon-arrow-up.svg');
  
}
.navigation-div{
  display: flex;
  align-items: center;
  gap:3rem;
}
.navigation-div li ul {
  margin-top: 1rem;
  position: absolute;
  display: none;
  min-width: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  box-shadow: 0 0 5px 2px lightgray;
  border-radius: .5rem;
  padding: 1rem;
}
nav li ul.active {
  position: absolute;
  display: block!important;
}

nav li:hover ul {
  display: block;
}
nav li .features-subitem.active ,
nav li:hover .features-subitem {
  right:0;
}
nav li:hover ul li a, nav li ul.active li a{
  display:flex;
  gap:.8rem;
  align-items: center;
  padding:.3rem 0;
}

.menu-toggle, .nav-mobile{/*only for mobile*/
  display:none;
}
/*end of header style*/
main{
  margin:1rem 0;
  width: 70%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:5rem;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:2rem;
}
h1{
  font-size: 4rem;
  padding-top:2rem;
}
p{
  line-height: 1.5rem;
  color: hsl(0, 0%, 41%);
}
.logo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1rem;
}
.promo-picture img{
  width: 100%;
  box-sizing: none;
}
/*buttons styles*/
button{
  padding: .5rem 1rem;
  border:none;
  background-color: transparent;
  border-radius: .5rem;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}
header button{
  color: hsl(0, 0%, 41%);
}
header button:hover, section button:hover, a:hover, nav li:hover{
  color:hsl(0, 0%, 8%);
}
.register-button:hover,
section button:hover {
  border: solid 1px hsl(0, 0%, 8%);
}
section button{
  background-color: hsl(0, 0%, 8%);
  color:hsl(0, 0%, 98%);
  width: -moz-fit-content;
  width: fit-content;
}
.register-button{
  border: solid 1px hsl(0, 0%, 41%);
}
section button:hover{
  background-color: transparent;
}


@media (max-width:375px) {
  /*seting elements display*/
  .desktop-nav, .button-container{
    display: none;
  }
  .menu-toggle{
    display: block;
    background-image: url('./images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    border-radius: 0;
  }
  .menu-open{
    background-image: url('./images/icon-close-menu.svg');
    position: absolute;
    z-index: 3;
    right: 1rem;
  }
  /*side menu*/
  header .nav-mobile.open{
    display: block !important;
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 15rem;
    background-color: hsl(0, 0%, 98%);
    padding:5rem 1rem;
  }
  .nav-mobile.open nav, .nav-mobile.open nav ul{
    display: flex ;
    flex-direction: column;
    gap:1rem;
  }
  .nav-mobile.open nav ul .subitem-hidden{
    display: none;
    margin-top: .5rem;
  }
  .subitem-hidden.active {
      display: flex!important;
      flex-direction: column;
      gap: 1rem;
  }
  .subitem-menu{
    background-position: top right;
  }
  
  nav li ul.active{
    display:flex;
    flex-direction: column;
    position: inherit;
  }
  /*end of side menu style*/
  main{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap:1rem
  }
  section{
    align-items: center;
    padding:0 1rem;
  }
  h1{
    font-size: 2.2rem;
  }
  p{
    line-height: 2rem;
  }
  section button{
    padding:1rem;
  }
  .logo-grid{
    width: 100%;
  }
  .logo-grid div img{
    width: 100%;
  }
}