*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    font-family: 'Libre Franklin';
    flex-direction:column;
    font-size: 20px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}
h1,h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
h1{
    color:hsl(0, 0%, 59%);
}
h1 strong{
    color: hsl(209, 33%, 12%);
}
h2{
    font-size: 16px;
}
form{
    margin: 1rem 0;
}
form div{
    display:flex;
    text-align:left;
}
input, button{
    height: 3em;
    border-radius: 2em;
}
input{
    width: 25em;
    border:solid 1px hsl(223, 100%, 88%);
    padding-left: 1em;
    margin-right: 1em;
}
.invalid{
    border: solid 1px hsl(354, 100%, 66%);
}
button{
    background-color: hsl(223, 87%, 63%);
    color:white;
    border:none;
    width: 10em;
    cursor:pointer;
}
button:hover{
    background-color:hsl(223, 100%, 88%);
}
img{
    margin:2rem 0;
}
input:not(:placeholder-shown):invalid{
    border: solid 1px hsl(354, 100%, 66%);
}
.nameError{
    margin:0.5rem 0;
    padding-left: 1rem;
    font-size: 0.75rem;
    color:hsl(354, 100%, 66%);
}
.dashboard{
    width: 40%;
}
.social-media a img{
    width: 2rem;
    margin:.5rem;
}
.attribution, div {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width:375px){
    main{
        text-align: center;
        width: 90%;
    }
    form div{
        flex-direction: column;
    }
    input,button{
        margin:.5rem 0;
    }
    input{
        width: calc(100% - 1rem);
    }
    form,button,.dashboard{
        width: 100%;
    }
    p{
        font-size:.6rem;
    }
    .social-media a img {
        width: 1rem;
    }
}