form{
  display:flex;
  gap:2rem;
  align-items:center;
  justify-content:center;
  width: 80vw;
}
fieldset{
  border:none;
}
h2{
  font-size:1rem;
}
.selectTip{
  display:grid;
  grid-template-areas: 
  'titleTip' 'titleTip' 'titleTip'
  'buttonTip5' 'buttonTip10' 'buttonTip15'
  'buttonTip25' 'buttonTip50' 'inputTip'
  ;
}
.selectTip h2{
  grid-area: titleTip;
}